[user]
    name = Jeremy Brudvik
    email = jeremy@brudvik.me
[alias]

    # Useful modifiers:
    #
    # --staged
    # --stat
    # -p
    # --reverse
    # --graph
    # --amend (NOTE: Not -a)

    # Useful commands:
    #
    # $ git grep <pattern>
    # $ git remote prune origin --dry-run
    # $ git b -vv
    # $ git shortlog
    # $ git checkout -p
    # $ git reset -p


    # Basics
    co = checkout
    s = status -s
    ss = status
    d = diff
    ds = diff --staged
    dt = difftool
    dts = difftool --staged
    mt = mergetool
    f = fetch
    a = add
    ap = add -p
    c = commit -v
    b = branch


    # Logging
    #
    # Options:
    # - m (mine): code in local branch but not in "other"
    # - t (theirs): code in "other" but not in local branch

    # Logging helpers
    #
    # - current-branch: current working branch
    # - other: origin/<current-branch>, fallback to default branch
    # - mine: in local branch but not "other"
    # - theirs: in "other" but not local branch
    default-branch = symbolic-ref --short HEAD
    current-branch = rev-parse --abbrev-ref HEAD
    other = "!if $(git log origin/$(git current-branch) &> /dev/null); then echo origin/$(git current-branch); else echo $(git default-branch); fi"
    mine = "!echo HEAD ^origin/$(git current-branch)"
    theirs = "!echo origin/$(git current-branch) ^HEAD"

    # diff
    dm = "!git d $(git mine)"
    dth = "!git d $(git theirs)"
    dmm = "!git d HEAD ^$(git default-branch)"
    dthm = "!git d $(git default-branch) ^HEAD"

    # log (compressed)
    t = log --pretty=format:\"%C(auto)%h%d %C(white)%s %C(blue)[%ad] %C(magenta)<%an>\" --date=relative
    tm = "!git t $(git mine)"
    tt = "!git t $(git theirs)"
    tmm = "!git t HEAD ^$(git default-branch)"
    ttm = "!git t $(git default-branch) ^HEAD"

    # log
    l = log --date=local
    lm = "!git l $(git mine)"
    lt = "!git l $(git theirs)"
    lmm = "!git l HEAD ^$(git default-branch)"
    ltm = "!git l $(git default-branch) ^HEAD"

    # log (verbose)
    v = "!git l -p"
    vm = "!git lm -p"
    vt = "!git lt -p"
    vmm = "!git lmm -p"
    vtm = "!git ltt -p"

[log]
    decorate
[push]
    default = current
[core]
    excludesfile = ~/.gitignore_global
    pager = "f() { if [ $(tput cols) -ge 140 ]; then "delta --side-by-side"; else "delta"; fi }; f"
[pull]
    ff = only
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    light = false
    navigate = true # use n and N to move between diff sections
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
