[user]
    name = Jeremy Brudvik
    email = jbrudvik@gmail.com
[alias]
    # Short aliases
    s = status -s
    d = diff
    l = log --pretty=format:\"%C(auto)%h%d %C(white)%s %C(blue)[%ad] %C(magenta)<%an>\" --date=relative
    f = fetch
    p = pull
    a = add
    c = commit -v
    b = branch
    co = checkout
    g = grep

    # Shorthand for -p
    ap = add -p
    lp = "!git l -p"

    # Shorthand for --stat
    ls = "!git l --stat"
    ds = diff --stat
    dst = diff --staged

    # @{u} = upstream
    # ..@{u} = in upstream but not local
    # @{u}.. = in local but not upstream
    lu = "!git l ..@{u}"
    ld = "!git l @{u}.."
    lup = "!git lu -p"
    ldp = "!git ld -p"
    lus = "!git lu --stat"
    lds = "!git lu --stat"

[log]
    decorate
	date = local
[push]
    default = current
[core]
    excludesfile = ~/.gitignore_global
    pager = "f() { if [ $(tput cols) -ge 140 ]; then "delta --side-by-side"; else "delta"; fi }; f"
[pull]
    ff = only
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    light = false
    navigate = true # use n and N to move between diff sections
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
